<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Exemplos com javascript e Flask</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
</body>
    <h1>Exemplos com javascript</h1>
    <ul>
        <li><a href="#">Exemplo 01</a></li>
        <li><a href="#">Exemplo 02</a></li>
        <li><a href="#">Exemplo 03</a></li>
    </ul>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    </body>
</html>
